<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366598152589-gdhnv2csmtnvh96irmdqvr5r9ocdgdut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366598152589-gdhnv2csmtnvh96irmdqvr5r9ocdgdut</string>
	<key>API_KEY</key>
	<string>AIzaSyCKT2-Czo0vNtzBMfZy3TkQk6wcBlaM1eA</string>
	<key>GCM_SENDER_ID</key>
	<string>366598152589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurjeet.messagingapp</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-1380b</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-1380b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366598152589:ios:8811b9a4c00cc5b4ab1dc4</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-app-1380b.firebaseio.com</string>
</dict>
</plist>